:root{
  --body-bg-color: #d4d4d4;
  --header-text-color: #fff;
  --hover-color: #ffbb00;
}

body{
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--body-bg-color);
}


header{
  margin: 0;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #100f5e;
}
header h1, a{
  margin: 0;
  font: bold 30pt Calibri;
  color: var(--header-text-color);
}
header a{
  margin-left: 15px;
  text-decoration: none;
}
header a:hover{
  color: var(--hover-color);
}


main{
  flex: auto;
  margin: 0 15px;
  padding: 0px 15px;
  background-color: #fff;
  font: 20pt Calibri;
}
main p{
  margin: 15px 0;
}
main table tr td{
  padding: 2px 8px
}
main label{
  font-weight: bold;
}
main input[type="text"], input[type="submit"], select{
  width: 140px;
  padding: 5px;
  font: 16pt Calibri;
  border: 2px solid #929292;
  border-radius: 5px;
}
main select{
  width: 153px;
}
main input[type="submit"]{
  width: 100%;
  font-weight: bold;
  color: white;
  border-color: #007000;
  border-radius: 5px;
  background-color: #01b10a;
}
main input[type="submit"]:hover{
  border-color: #00d400;
  background-color: #01e70d;
  cursor: pointer;
}